# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
package-lock.json
*.log
*.gz

.env
*.pem

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

test/data/
test/helper/
test-api/
.vscode

rest/

public/temp/

.scannerwork
.dccache

bms-core-db.session.sql

routes/poc.js
